QComboBox#titleCombox
{
min-height: 50px;
min-width: 60px;
background-color:transparent;
color:white;
selection-background-color: rgb(80, 80, 80);
}

QComboBox#titleCombox QAbstractItemView
{
selection-color:white;
selection-background-color:rgb(80, 80, 80);
background-color:rgb(80, 80, 80);
font:14px;
}


QComboBox#titleCombox QAbstractItemView::item
{
min-height: 50px;
min-width: 60px;
color:white;
}

