QComboBox#titleCombox
{
min-height: 50px;
min-width: 60px;
background-color:transparent;
color:white;
}

QComboBox QAbstractItemView
{
    selection-color:white;
    selection-background-color:rgb(80, 80, 80);
    background-color:rgb(80, 80, 80);
}

QComboBox QAbstractItemView::item
{
min-height: 50px;
min-width: 60px;
color:white;
}

QComboBox:enabled:hover, QComboBox:enabled:focus {
        color: white;
        background-color: rgb(80, 80, 80);
}
